.orders {
    background-image: url("/public/images/cherry.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding: 4rem;
}
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .order_item {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    
  }

  .pic_order {
width: fit-content;
  }
  .pic_order img {
    width: 260px;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .content_order {
    background-color: goldenrod;
    text-align: center;
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
  }
  .content_order img {
    width: 127.5px;
    height: 15px;

}
.content_order h3 {
    font-size: 30px;
    font-style: italic;
    color: black;
    text-align: center;
  }
  .content_order_name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .order_price {
    background-color: black;
    width: fit-content;
    text-align: center;
    max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  }
  .price {
    color: goldenrod;
    font-size: 30px;
    padding: 2px;
    margin-top: 15px;
  }
  .button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: goldenrod;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
  @media (min-width: 814px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 1034px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1245px) {
    .container {
      width: 1170px;
    }
  }
  @media (max-width: 920px) {
    .pic_order img {
      width: 200px;
      
    }
    .content_order img {
      width: 100px;
      height: 12.2px;
  
  }
  .content_order h3 {
      font-size: 15px;
      font-style: italic;
      color: black;
      text-align: center;
    }
    .button-28 {
      font-size: 12px;
    }
    .price {
      font-size: 12px;
    }
  }
  @media (max-width: 620px) {
    .pic_order img {
      width: 120px;
      
    }
    .content_order img {
      width: 70px;
      height: 10px;
  
  }
  .content_order h3 {
      font-size: 13px;
      font-style: italic;
      color: black;
      text-align: center;
    }
    .content_order_name {
      gap: 8px;
    }
    .button-28 {
      font-size: 10px;
    }
    .price {
      font-size: 10px;
    }
  }
  @media (max-width: 450px) {
    .pic_order img {
      width: 110px;
      
    }
    .content_order img {
      width: 55px;
      height: 8px;
  
  }
  .content_order h3 {
      font-size: 10px;
      font-style: italic;
      color: black;
      text-align: center;
    }
    .content_order_name {
      gap: 1px;
    }
    .button-28 {
      font-size: 8px;
    }
    .price {
      font-size: 8px;
    }
  }
/* .order_container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  .order_item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
.order_wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
.order_items {
    margin-bottom: 24px;
}
.order_item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
}
.order_img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}
.order_img:hover {
    transform: scale(1.1);
  }

.order_item_content {
    padding: 20px 30px 30px;
    background-color: #003366 ;
}

.order_item_heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.order_item_text {
    color: white;
    font-family: 'Allura', cursive;
    font-size: 18px;
    line-height: 24px;
}
.order_item_name {

    font-size: 30px;
    font-style: italic;
    color: goldenrod;
    text-align: center;
}
.order_pic_wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
}
.order_item_heading img {
    width: 127.5px;
    height: 15px;

}
@media only screen and (min-width: 1024px) {
    .order_items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .order_item {
      margin-bottom: 2rem;
    }
  } */